{% extends "layouts/main.html" %} {% load i18n static humanize auser %} {% block content %}
<table class="table shadow-lg w-100" id="dt_table_staff">
    <div class="d-flex justify-content-end">
        <a href="{% url 'auser:add_school_head' %} " class="mx-2 btn btn-sm btn-success shadow-none "><i data-feather="plus "></i> {% translate "Add school head " %}</a>
        <a href="{% url 'auser:deactivated_school_head_list' %} " class="mx-2 btn btn-sm btn-warning shadow-none ">
            <i data-feather="list "></i> {% translate "Deactivated school heads " %}</a> {% include "layouts/import_data.html" with ctype=view|ctype %}
    </div>
    <hr>
    <thead>
        <tr>
            <th></th>
            <th>{% translate "Username " %}</th>
            <th>{% translate "First name " %}</th>
            <th>{% translate "Last name " %}</th>
            <th>{% translate "Email " %}</th>
            <th>{% translate "Gender " %}</th>
            <th>{% translate "Phone number " %}</th>
            <th></th>
            <th>{% translate "Last login " %}</th>
            <th>{% translate "Date joined " %}</th>
            <th>{% translate "Manage " %}</th>
        </tr>
    </thead>
    <tbody class="w-100 ">
        {% for school_head in school_heads %}
        <tr>
            <td class="details-control px-3 "></td>
            <td>{{ school_head.username }}</td>
            <td>{{ school_head.first_name }}</td>
            <td>{{ school_head.last_name }}</td>
            <td>{{ school_head.email }}</td>
            <td>{{ school_head.get_sex_display }}</td>
            <td>{{ school_head.phone_number }}</td>
            <td>{{ school_head.profile_picture.url }}</td>
            <td>{{ school_head.last_login|default:"Never " }}</td>
            <td>{{ school_head.date_joined }}</td>
            <td>
                <div class="btn-group rounded " role="group " aria-label="Management buttons ">
                    <a href="{% url 'auser:school_head_detail' school_head.pk %} " class="btn btn-md btn-outline-dark shadow-none ">{% translate "Details " %}</a> {% if perms.auser.change_schoolhead %}
                    <a href="{% url 'auser:school_head_detail' school_head.pk %}" class="btn btn-md btn-outline-secondary shadow-none
                        ">{% translate "Update" %}</a>{% endif %} {% if perms.auser.change_user_permissions %}
                    <a href="{% url 'auser:change_permission' school_head.pk %} " class="btn btn-md btn-outline-success 
                                shadow-none ">{% translate "Permissions " %}</a>{% endif %} {% if perms.auser.deactivate_user %}
                    <button class="btn btn-md btn-outline-danger shadow-none " data-bs-toggle="modal" data-bs-target="#deactivate-{{ school_head.username }} ">{% translate "Deactivate " %}</button>{% endif %}
                </div>
            </td>
            {% if perms.auser.deactivate_user %}
            <div class="modal fade " id="deactivate-{{ school_head.username }} " tabindex="-1" aria-labelledby="Deactivate Staff member " aria-hidden="true ">
                <div class="modal-dialog ">
                    <div class="modal-content ">
                        <div class="modal-body ">
                            {% blocktranslate with first_name=school_head.first_name last_name=school_head.last_name %}Do you really wants to deactivate
                            <strong>{{ first_name }} {{ last_name }}?</strong> User will not able to login.{% endblocktranslate %}
                        </div>
                        <div class="modal-footer ">
                            <button type="button" class="btn btn-sm btn-success shadow-none " data-bs-dismiss="modal" aria-label="Close ">{% translate "Cancel " %}</button>
                            <form action="{% url 'auser:deactivate_school_head' school_head.pk %}" hod="post">{% csrf_token %}
                                <input class="btn btn-danger btn-sm shadow-none " type="submit" value="{% translate ' I understand, deactivate! ' %}" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}