{% extends 'layouts/auth.html' %}
{% load i18n static %}
{% block content %}<div class="col-md-5 col-sm-12 mx-auto">
<div class="card pt-3">
    <div class="card-body">
        <div class="text-center mb-5">
            <img src="{% static "images/favicon.svg" %}" height="48" class='mb-4'>
            <h3>Sign In</h3>
            <p>Please sign in to continue to Voler.</p>
        </div>
        {% if form.non_field_errors %}{% include "layouts/non_field_form_error.html" with errors=form.non_field_errors %}{% endif %}
        <form action="{% url "auser:login" %}" method="POST">{% csrf_token %}
            <div class="form-group position-relative has-icon-left">
                <label for="username">Username or email </label>
                <div class="position-relative">
                    <input type="text" class="form-control" name='username' id="username">
                    <div class="form-control-icon">
                        <i data-feather="user"></i>
                    </div>
                </div>
            </div>
            <div class="form-group position-relative has-icon-left">
                <div class="clearfix">
                    <label for="password">Password</label>
                    <a href="{% url "auser:password_reset" %}" class='float-end'>
                        <small>Forgot password?</small>
                    </a>
                </div>
                <div class="position-relative">
                    <input type="password" class="form-control" name="password" id="password">
                    <div class="form-control-icon">
                        <i data-feather="lock"></i>
                    </div>
                </div>
            </div>
            <div class="clearfix p-3">
                <div class="float-start">
                    <a href="{% url "auser:register" %}">Don't have an account?</a>
                </div>
                <button class="btn btn-primary float-end">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}