{% extends "layouts/auth.html" %}
{% load i18n static widget_tweaks %}
{% block content %}
<div class="col-md-7 col-sm-12 mx-auto">
    <div class="card pt-4">
        <div class="card-body">
            <div class="text-center mb-5">
                <img src="{% static "images/favicon.svg" %}" alt="logo" width="auto" height="48" class="mb-4" />
                <h3>{% translate "Password Reset Confirm" %}</h3>
                <p>{% translate "Please enter a password." %}</p>
            </div>
            {% if validlink %}
            {% with WIDGET_ERROR_CLASS="is-invalid" %}
            <form method="post">{% csrf_token %}
                <div class="row">{% for field in form %}
                    <div class="col-12">
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class+="form-control" %}
                            {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}<i class="bx bx-radio-circle"></i>{{ error }}{% endfor %}
                            </div>
                            {{ field.help_text }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}</div>
                <a href="{% url "auser:login" %}">{% translate "Have an account? Login" %}</a>
                <div class="clearfix">
                    <button class="btn btn-primary float-end">{% translate "Submit" %}</button>
                </div>
            </form>
            {% endwith %}
            {% else %}
            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

