{% extends "layouts/main.html" %} {% block content %}
<div class="row">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3">
        {% if perms.store.add_specification %}<a href="{% url 'inventory:add_item_specification' view.kwargs.pk %}" class="btn btn-md btn-success rounded-3 shadow-none float-end"><i class="fa-solid fa-circle-plus me-2"></i>Add Specification</a>{% endif %}
    </div>
    <hr />
    <div class="container-fluid p-1 p-sm-3">
        <table id="specification_list" class="table w-100 rounded-3">
            <thead>
                <tr>
                    <th class="border-bottom border-0" style="max-width: 25px;"></th>
                    <th class="border-bottom border-0">Specification</th>
                    <th class="border-bottom border-0">Value</th>
                    <th class="border-bottom border-0"></th>
                </tr>
            </thead>
            <tbody>{% if specifications %}{% for specification in specifications %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ specification.specification_type.name }} ({{ specification.specification_type.si_unit }})</td>
                    <td>{{ specification.value }}</td>
                    <td class="text-center">
                        {% if perms.inventory.change_specification  %}
                        <a class="btn btn-sm btn-primary shadow-none px-2 mx-1" href="{% url 'inventory:update_item_specification' view.kwargs.pk specification.pk %}"><i class="fa-solid fa-pen me-2"></i>Update</a>{% endif %} 
                        {% if perms.inventory.delete_specification %}<button class="btn btn-sm btn-danger shadow-none px-2 mx-1" data-bs-toggle="modal" data-bs-target="#delete-specification-{{ specification.pk }}"><i class="fa-solid fa-circle-minus me-2"></i>Delete</button>
                        <div class="modal fade" id="delete-specification-{{ specification.pk }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                               Do you really wants to delete <strong>{{ specification }}</strong>? This action is irreversable.
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary shadow-none" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                <form action="{% url 'inventory:delete_item_specification' view.kwargs.pk specification.pk %}" method="post">{% csrf_token %}
                                  <input class="btn btn-danger btn-sm shadow-none" type="submit" value="I understand, delete!" />
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>{% endif %}
                    </td>
                </tr>
                {% endfor %}{% endif %}</tbody>
        </table>
    </div>
</div>
{% endblock content %}