{% extends "layouts/main.html" %} {% load i18n static widget_tweaks %} {% block content %}
<form method="post" class="shadow-md">{% csrf_token %}
    <div class="row">
        {% for field in form %}
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label> {% render_field field class+="choices form-select multiple-remove" %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="clearfix">
        <button class="btn btn-primary shadow-none float-end">{% translate "Submit" %}</button>
    </div>
</form>
{% endblock content %}