{% extends "layouts/main.html" %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
    {% if perms.auser.can_list_departments %}<li class="breadcrumb-item"><a href="{% url 'auser:departments_list' %}">Departments</a></li>{% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock breadcrumbs %}{% block content %}
<div class="row">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3 d-flex justify-content-end">
        {% if perms.auser.can_add_store %}<a href="{% url 'inventory:add_store' %}" class="btn
        btn-md btn-success rounded-3 shadow-none me-3"><i class="fa-solid fa-circle-plus me-2">
        </i>Add Store Officer</a>{% endif %}
    </div>
    <hr />
<div class="container-fluid p-sm-3">
  <table id="store_list" class="table-responsive">
    <thead>

      <th class="border-bottom border-0">No</th>
      <th class="border-bottom border-0">Block</th>
      <th class="border-bottom border-0">Room</th>
      <th class="border-bottom border-0">Status</th>
      <th class="border-bottom border-0">Shelves</th>
      <th class="border-bottom border-0">Action</th>
    </thead>
    <tbody>{% if stores %}{% for store in stores %}
      <tr>
        <td class="text-center">{{ forloop.counter }}</td>
        <td>{{ store.block }}</td>
          <td>{{ store.room }}</td>
          <td>{{ store.get_status_display }}</td>
          <td>{{ store.shelves.count }}</td>
          <td class="text-center">
              <div class="dropdown">
                  <button class="btn shadow-none" type="button" id="manageMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-gears fs-4"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark manageMenu" aria-labelledby="manageMenu">
                    {% if perms.store.can_list_shelves %}
                  <li><a class="dropdown-item py-2" href="{% url 'inventory:shelves_list' store.pk %}"><i class="fa-solid fa-table-cells-large me-2"></i>Shelves</a></li>{% endif %}{% if perms.store.change_store %}
                  <li><a class="dropdown-item py-2" href="{% url 'inventory:update_store' store.pk %}"><i class="fa-solid fa-pen me-2"></i>Update</a></li>{% endif %} {% if perms.inventory.delete_store %}
                  <li><hr class="dropdown-divider"></li>
                  <li><button class="dropdown-item text-danger fw-bolder" data-bs-toggle="modal" data-bs-target="#delete-str-{{ store.pk }}"><i class="fa-solid fa-circle-minus me-2"></i>Delete</button></li>{% endif %}
                  </ul>
                </div>{% if perms.inventory.delete_store %}
                <div class="modal fade" id="delete-str-{{ store.pk }}" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        Do you really wants to delete <strong>{{ store }}</strong>? This action is irreversable.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary shadow-none" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <form action="{% url 'inventory:delete_store' store.pk %}" method="post">{% csrf_token %}
                          <input class="btn btn-danger btn-sm shadow-none" type="submit" value="I understand, delete!" />
                        </form>
                      </div>
                    </div>
                  </div>
                        </div>{% endif %}
                    </td>
                </tr>
                {% endfor %}{% endif %}

      </tr>

    </tbody>
  </table>
</div>
</div>
{% endblock content %}
