{% load static %}
<nav id="sidebar" class="col-auto collapse d-md-block collapse-horizontal pt-1 px-0 mx-0 sticky-md-top shadow-md">
    <div class="row sidebar-nav mx-0">
        <div class="d-flex justify-content-center">
            <a class="mx-auto mt-4 mb-5" href="{% url 'auser:dashboard' %}"><img src="{% static 'img/logo.svg' %}" alt="ASTU Store" class="img-fluid rounded-circle logo-img" /></a>
        </div>
        <div class="text-dark px-4 fs-4">Users</div>
        <div class="text-dark px-4 fs-4"></div>
        <ul class="px-0">
            {% if perms.auser.add_college and perms.auser.view_college %}
            <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
                <div class="col p-2 ps-3 text-center">
                    <i class="fa-solid fa-building-columns me-2"></i>
                </div>
                <div class="col-10">
                    <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'auser:list_colleges' %}">Colleges</a>
                </div>
            </li>{% endif %}
        </ul>
        <div class="text-dark px-4 fs-4">Store</div>
        <div class="text-dark px-4 fs-4"></div>
        <ul class="px-0">
            {% if perms.store.view_store %}
            <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
                <div class="col p-2 ps-3 text-center">
                    <i class="fa-solid fa-store"></i>
                </div>
                <div class="col-10">
                    <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'store:list_stores' %}">Stores</a>
                </div>
            </li>
            {% endif %} {% if perms.store.view_item %}
            <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
                <div class="col p-2 ps-3 text-center">
                    <i class="fa-solid fa-bars-staggered"></i>
                </div>
                <div class="col-10">
                    <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'store:list_items' %}">Items</a>
                </div>
            </li>
            {% endif %} {% if perms.store.view_specificationtype %}
            <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
                <div class="col p-2 ps-3 text-center">
                    <i class="fa-solid fa-ruler-horizontal"></i>
                </div>
                <div class="col-10">
                    <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'store:list_specification_types' %}">Specification Types</a>
                </div>
            </li>
            {% endif %}
        </ul>

        <div class="text-dark px-4 fs-4">Request</div>
        <div class="text-dark px-4 fs-4"></div>
        {% if perms.request.view_store %}
        <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
            <div class="col p-2 ps-3 text-center">
                <i class="fa-solid fa-store"></i>
            </div>
            <div class="col-10">
                <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'request:request_list' %}">Request</a>
            </div>
        </li> {% endif %} {% if perms.request.can_view_request_approve %}
        <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
            <div class="col p-2 ps-3 text-center">
                <i class="fa fa-thumbs-up"></i>
            </div>
            <div class="col-10">
                <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'request:approved_list' %}">Approved Request</a>
            </div>
        </li> {% endif %}{% if perms.request.can_view_request_decline %}
        <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
            <div class="col p-2 ps-3 text-center">
                <i class="fa fa-ban" aria-hidden="true"></i>
            </div>
            <div class="col-10">
                <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'request:declined_list' %}">Decline Requests</a>
            </div>
        </li>{% endif %}{% if perms.request.can_view_complete_request %}
        <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
            <div class="col p-2 ps-3 text-center">
                <i class="fa-solid fa-bars-staggered" aria-hidden="true"></i>
            </div>
            <div class="col-10">
                <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'request:borrowed_list' %}">Borrowed Items</a>
            </div>
        </li>{% endif %}{% if perms.request.can_view_return_request %}
        <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
            <div class="col p-2 ps-3 text-center">
                <i class="fa-solid fa-bars-staggered" aria-hidden="true"></i>
            </div>
            <div class="col-10">
                <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'request:returned_list' %}">Returned Items</a>
            </div>
        </li>{% endif %}
        <div class="text-dark px-4 fs-4">Maintenance Request</div>
        <div class="text-dark px-4 fs-4"></div>
        <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
            <div class="col p-2 ps-3 text-center">
                <i class="fa-solid fa-bars-staggered" aria-hidden="true"></i>
            </div>
            <div class="col-10">
                <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'maintenance:list_failurity_report' %}">Failurity Report</a>
            </div>

        </li>
    </div>
</nav>