{% load static %} <nav id="sidebar" class="col-auto collapse d-md-block collapse-horizontal pt-1 px-0 mx-0 sticky-md-top shadow-md">
  <div class="row sidebar-nav mx-0">
    <div class="d-flex justify-content-center">
      <a class="mx-auto mt-4 mb-5" href="{% url 'auser:dashboard' %}"><img src="{% static 'img/logo.svg' %}" alt="ASTU Store" class="img-fluid rounded-circle logo-img" /></a>
    </div>
    <div class="text-dark px-4 fs-4">Users</div>
    <div class="text-dark px-4 fs-4"></div>
    <ul class="px-0">
      {% if perms.auser.add_college and perms.auser.view_college %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-solid fa-building-columns me-2"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'auser:list_colleges' %}">Colleges</a>
        </div>
      </li>{% endif  %}
    </ul>
    <div class="text-dark px-4 fs-4">Store</div>
    <div class="text-dark px-4 fs-4"></div>
    <ul class="px-0">
      {% if perms.inventory.view_store %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-solid fa-store"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'inventory:stores_list' %}">Stores</a>
        </div>
      </li>
      {% endif  %}
      {% if perms.inventory.view_lab %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-solid fa-store"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'inventory:labs_list' %}">Labs</a>
        </div>
      </li>
      {% endif  %}
      {% if perms.inventory.view_product %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-brands fa-product-hunt"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'inventory:products_list' %}">Products</a>
        </div>
      </li>
      {% endif  %}
      {% if perms.inventory.view_item %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-solid fa-bars-staggered"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'inventory:items_list' %}">Items</a>
        </div>
      </li>
      {% endif  %}
      {% if perms.inventory.view_specificationtype %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-solid fa-ruler-horizontal"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'inventory:specification_types_list' %}">Specification Types</a>
        </div>
      </li>
      {% endif  %}
      {% if perms.inventory.view_category %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-solid fa-braille"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'inventory:categories_list' %}">Categories</a>
        </div>
      </li>
      {% endif  %}
      {% if perms.inventory.view_subcategory %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-solid fa-braille"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'inventory:sub_categories_list' %}">Sub Categories</a>
        </div>
      </li>
      {% endif  %}
      {% if perms.inventory.view_measurement %}
      <li class="nav-item my-2 mx-0 row flex-nowrap align-items-center border-bottom">
        <div class="col p-2 ps-3 text-center">
          <i class="fa-solid fa-ruler-horizontal"></i>
        </div>
        <div class="col-10">
          <a class="nav-link px-0 text-reset text-decoration-none" href="{% url 'inventory:measurments_list' %}">Measurmens</a>
        </div>
      </li>
      {% endif  %}
    </ul>
  </div>
</nav>