{% extends "layouts/main.html" %}
{% load i18n static humanize %}
{% block content %}
<table class="table shadow-lg" id="dt_table_student">
  <div class="d-flex justify-content-end">
  <a href="{% url "auser:active_student_list" %}" class="mx-2 btn btn-sm btn-warning shadow-none"><i data-feather="list"></i> {% translate "Active Students" %}</a>
</div>
<hr>
    <thead>
        <tr>
            <th></th>
            <th>{% translate "Username" %}</th>
            <th>{% translate "First name" %}</th>
            <th>{% translate "Last name" %}</th>
            <th>{% translate "Email" %}</th>
            <th>{% translate "Sex" %}</th>
            <th>{% translate "Phone number" %}</th>
            <th></th>
            <th>{% translate "Last login" %}</th>
            <th>{% translate "Date joined" %}</th>
            <th>{% translate "Manage" %}</th>
        </tr>
    </thead>
    <tbody class="w-100">
        {% for student in deactivated_students %}
            <tr>
                <td class="details-control px-3"></td>
                <td>{{ student.username }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.get_sex_display }}</td>
                <td>{{ student.phone_number }}</td>
                <td>{{ student.profile_picture.url }}</td>
                <td>{{ student.last_login|default:"Never" }}</td>
                <td>{{ student.date_joined }}</td>
                <td>
                    <div class="btn-group rounded" role="group" aria-label="Management buttons">
                        <a href="{% url "auser:student_detail" student.pk %}" class="btn btn-md btn-outline-dark shadow-none">{% translate "Details" %}</a>
                        {% if perms.auser.activate_user %}<button class="btn btn-md btn-outline-success shadow-none" data-bs-toggle="modal" data-bs-target="#activate-{{ student.username }}"><i data-feather="activity"></i> {% translate "Activate" %}</button>{% endif %}
                        {% if perms.auser.delete_user %}<button class="btn btn-md btn-outline-danger shadow-none"
                                data-bs-toggle="modal"
                                data-bs-target="#delete-{{ student.username }}"><i data-feather="trash-2"></i> {% translate "Delete" %}</button>{% endif %}
                    </div>
                </td>
                    {% if perms.auser.activate_user %}
                    <div class="modal fade" id="activate-{{ student.username }}" tabindex="-1" aria-labelledby="Activate  User" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            {% blocktranslate with first_name=student.first_name last_name=student.last_name %}Do you really wants to activate <strong>{{ first_name }} {{ last_name }}?</strong> User will able to login.{% endblocktranslate %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-primary shadow-none" data-bs-dismiss="modal" aria-label="Close">{% translate "Cancel" %}</button>
                            <form action={% url 'auser:activate_student' student.pk %} method="post">{% csrf_token %}
                                <input class="btn btn-success btn-sm shadow-none" type="submit" value="{% translate "Acticate!" %}" />
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    {% if perms.auser.delete_user %}
                    <div class="modal fade" id="delete-{{ student.username }}" tabindex="-1" aria-labelledby="Delete student User" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            {% blocktranslate with first_name=student.first_name last_name=student.last_name %}Do you really wants to delete <strong>{{ first_name }} {{ last_name }}?</strong><span class="text-danger"> <h6>This action is irreversable.</span>{% endblocktranslate %}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-success shadow-none" data-bs-dismiss="modal" aria-label="Close">{% translate "Cancel" %}</button>
                            <form action={% url 'auser:delete_student' student.pk %} method="post">{% csrf_token %}
                                <input class="btn btn-danger btn-sm shadow-none" type="submit" value="{% translate "I understand, delete this user!" %}" />
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
