{% extends "layouts/main.html" %} {% load i18n static humanize auser %} {% block content %}
<table class="table shadow-lg w-100" id="dt_table_staff">
    <div class="d-flex justify-content-end">
        <a href="{% url 'request:add_request' %} " class="mx-2 btn btn-sm 
            btn-danger shadow-none "><i data-feather="plus "></i> {% translate "Add request " %}</a>  {% include "layouts/import_data.html" with ctype=view|ctype %}

 
    </div>
    <hr>
    <thead>
        <tr>
            <th></th>
            <th>{% translate "No" %}</th>
            <th>{% translate "Name " %}</th>
            <th>{% translate "Quantity " %}</th>
            <th>{% translate "start" %}</th>
            <th>{% translate "end" %}</th>
            <th>{% translate "category" %}</th>
            <th>{% translate "Manage " %}</th>
        </tr>
            
    </thead>
    <tbody class="w-100 ">
        {% for request in requests %}
        <tr>
            <td ></td>
            <td>{{ forloop.counter }}</td>
            <td>{{ request.item}}</td>
            <td>{{ request.quantity }}</td>
            <td>{{ request.start_date }}</td>
            <td>{{ request.end_date }}</td>
            <td>{{ request.category }}</td>
            <td>



                <div class="btn-group rounded " role="group " aria-label="Management buttons "> {% if perms.request.can_view_request_detail %}
                    <a href="{% url 'request:request_detail' request.pk %} " class="btn btn-md 
                            btn-outline-dark shadow-none ">{% translate "Details " %}</a>{% endif %}{% if perms.request.delete_request %}
                    <a href="{% url 'request:request_delete' request.pk %}" class="btn btn-danger ">{% translate "Delete" %}</a>{% endif %}
                    {% if perms.request.can_view_request_history %}
                    <a href="{% url 'request:request_history' request.pk %}" class="btn btn-primary ">{% translate "history" %}</a>{% endif %}


  
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock content %}