{% load i18n humanize %}
<div class="row gutters-sm">
    <div class="col-lg-5 col-sm-12 col-md-12  my-md-2">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ user.profile_picture.url }}" alt="User profile" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <h4>{{ request.item }}</h4>
                        <p class="text-secondary mb-1">quantity:{{ request.quantity }} ({{ request.category }})</p>status:
                        {% if request.is_processed != None and request.is_processed %}<span class="text-success"> already processed!</span>{% elif request.is_processed != None and not request.is_processed %}<span class="text-danger">on process</span> {% else %}
                        <span class="text-muted"> On Process </span>  {% endif %}
                       
                    </div>
                </div>
                <ul class="list-unstyled p-3 row">
                    <div class="col">
                        <li class="mb-3"><a href="mailto:{{ user.email }}"><i data-feather="mail" class="text-secondary me-3"></i>{{ user.first_name }}</a></li>
                        <li class="mb-3"><a href="mailto:{{ user.email }}"><i data-feather="mail" class="text-secondary me-3"></i>{{ user.last_name }}</a></li>
                         <li class="mb-3"><a href="mailto:{{ user.email }}"><i data-feather="mail" class="text-secondary me-3"></i>{{ user.department }}</a></li>
                        <li class="mb-3"><a href="mailto:{{ user.email }}"><i data-feather="mail" class="text-secondary me-3"></i>{{ user.email }}</a></li>
                        <li class="mb-3"><a href="#"><i data-feather="map-pin" class="text-secondary me-3"></i>start: {{ request.start_date }}</a></li>
                        <li class="mb-3"><a href="#"><i data-feather="calendar" class="text-secondary me-3"></i>end: {{ request.end_date }}</a></li>
                    </div>
                    <div class="col-auto">
                        <li class="mb-3"><a href="tel:{{ user.phone_number }}"><i data-feather="phone" class="text-secondary me-3"></i>suppplier: {{ request.supplier }}</a></li>
                        <li class="mb-3"><a href="#"><i data-feather="at-sign" class="text-secondary me-3"></i> year:{{ request.year }}</a></li>
                        <li class="mb-3"><a href="#"><i data-feather="calendar" class="text-secondary me-3"></i> Logged in {{ request.is_given|naturaltime|default:"Never" }}</a></li>
                    </div>
                </ul>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row p-3 py-3 my-3">
                    <h2 class="h1 px-0 text-primary">#About</h2>
                     {% if request.is_processed != None and request.is_processed %}
                    <div>category:{{ request.category }}</div>
                     <form class="col-6" action="{% url 'request:approve_request' request.id %}" method="post" novalidate="">
                      {% csrf_token %}
                    <button class="btn btn-success"> approve</button>
                </form>

                <form class="col-6" action="{% url 'request:decline_request' request.id %}" method="post" novalidate="">
                      {% csrf_token %}
                    <button class="btn btn-danger"> decline</button>
                </form>
                <span class="text-danger">
                        {% elif request.is_processed != None and not request.is_processed %}
                <td>  <form class="col-6" action="{% url 'request:process_request' request.id %}" method="post" novalidate="">
                      {% csrf_token %}
                    <button class="btn btn-success"> process</button> 
                </form>

                
            
               
                {% endif %}
           </td>     
               </div>


                
                
 
                </div>
            </div>
        </div>
    </div>
</div>