{% extends "layouts/main.html" %} {% block content %}

<div class="row">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3">
        {% if perms.store.add_item %}
        <a href="{% url 'maintenance:list_maintenancerequests' %}" class="btn 
        btn-md btn-success rounded-3 shadow-none float-end">
            <i class="fa-solid fa-chevron-right p-2"></i>Maintenance Requests</a>{% endif %}

    </div>
    <hr />
    <div class="container-fluid p-1 p-sm-3">
        <table id="dt_table_canceled_maintenanceRequest" class="table w-100 rounded-3">
            <thead>
                <tr>
                    <th class="border-bottom border-0" style="max-width: 25px;"></th>
                    <th class="border-bottom border-0">Item</th>
                    <th class="border-bottom border-0">Problems</th>
                    <th class="border-bottom border-0">Quantity</th>
                    <th class="border-bottom border-0">Dead_Stock_Number</th>
                    <th class="border-bottom border-0"> Store</th>
                </tr>
            </thead>
            <tbody>{% if canceled_request %}{% for m in canceled_request %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ m.item|capfirst }}</td>
                    <td>{{ m.problem|capfirst }}</td>
                    <td>{{ m.quantity }}</td>
                    <td>{{ m.item.item.dead_stock_number }}</td>
                    <td>{{ m.item.item.store }}</td>

                    </td>
                </tr>
                {% endfor %}{% endif %}</tbody>
        </table>
    </div>
</div>
{% endblock content %}