{% extends "layouts/main.html" %} {% load widget_tweaks %}{% block content %}

<div class="row">

    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3">
        {% if perms.store.add_item %}<a href="{% url 'maintenance:add_maintenace_request' %}" class="btn btn-md btn-success rounded-3 shadow-none float-end"><i class="fa-solid fa-circle-plus me-2"></i>Add Maintenance Request</a>{% endif %}

    </div>
    <hr />
    <div class="container-fluid p-1 p-sm-3">
        <table id="dt_table_maintenanceRequest_list" class="table w-100 rounded-3">
            <thead>
                <tr>
                    <th class="border-bottom border-0" style="max-width: 25px;"></th>
                    <th class="border-bottom border-0">Name</th>
                    <th class="border-bottom border-0">Problems</th>
                    <th class="border-bottom border-0">Quantity</th>
                    <th class="border-bottom border-0">Dead_Stock_Number</th>
                    <th class="border-bottom border-0"> Store</th>
                    <th class="border-bottom border-0"> Manage</th>

                </tr>
            </thead>
            <tbody>{% if maintenance_requests %}{% for m in maintenance_requests %}
                <tr>


                    <td class="text-center">{{ forloop.counter }} </td>
                    <td>{{ m.item|capfirst }}</td>
                    <td>{{ m.problem }}</td>
                    <td>{{ m.quantity }}</td>
                    <td>{{ m.item.item.dead_stock_number }}</td>
                    <td>{{ m.item.item.store }}</td>

                    <td>
                        <div class="btn-group rounded" role="group" aria-label="Management buttons">
                            {% if perms.maintenance.change_maintenancerequest %}
                            <a class="btn btn-sm btn-primary shadow-none px-2 mx-1" href="{% url 'maintenance:update_maintenance_request' m.pk %} " class="fa-solid fa-pen me-2">Update</a> {% endif %} {% if perms.maintenance.cancel_maintenancerequest %}
                            <form action="{% url 'maintenance:cancel_maintenance_request' m.pk %}" method='post'>{% csrf_token %}
                                <input class=" btn btn-danger btn-sm shadow-none " type="submit" value="Cancel" />
                            </form>{% endif %}{% if perms.maintenance.approve_maintenancerequest %}
                            <form action="{% url 'maintenance:approve_maintenance_request' m.pk %}" method='post'>{% csrf_token %}
                                <input class=" btn btn-primary btn-sm shadow-none " type="submit" value="Approve" />
                            </form>{% endif %}{% if perms.maintenance.decline_maintenancerequest %}
                            <form action="{% url 'maintenance:decline_maintenance_request' m.pk %}" method='post'>{% csrf_token %}
                                <input class=" btn btn-danger btn-sm shadow-none " type="submit" value="Decline" />
                            </form>{% endif %}
                        </div>
                    </td>
                    <td>

                    </td>
                </tr>
                {% endfor %}{% endif %}</tbody>
        </table>
    </div>
</div>
{% endblock content %}