{% extends "layouts/main.html" %}{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock breadcrumbs %}{% block content %}
<div class="row">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3">
        {% if perms.inventory.add_product %}<a href="{% url 'inventory:add_product' %}" class="btn btn-md btn-success rounded-3 shadow-none float-end"><i class="fa-solid fa-circle-plus me-2"></i>Add Product</a>{% endif %}
        {% if perms.inventory.can_import_products %}
        <button class="btn btn-md btn-info rounded-3 shadow-none fw-bolder float-end mx-3" data-bs-toggle="modal" data-bs-target="#ImportData"><i class="fa fa-upload me-2"></i> Import Products</button>
        <div class="modal fade" id="ImportData" tabindex="-1" aria-labelledby="ImportData" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import data from xlsx fiel.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'inventory:import_products' %}" method="post" enctype="multipart/form-data"> {% csrf_token%}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <label for="FileImport">Select file</label>
                  <input type="file" class="form-control shadow-none" name="file" id="FileImport" aria-describedby="FileImport" placeholder="Upload file" required>
                  <div class="rounded my-3" role="group" aria-label="import buttons">
                    <button type="button" class="btn btn-sm btn-danger shadow-none" data-bs-dismiss="modal"><i class="fa fa-cancel me-2"></i> Cancel</button>
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-upload me-2"></i> Import</button>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <a href="{% url 'inventory:import_products' %}">Download template</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
    </div>
    <hr />
    <div class="container-fluid p-1 p-sm-3">
        <table id="products_list" class="table w-100 rounded-3">
            <thead>
                <tr>
                    <th class="border-bottom border-0" style="max-width: 25px;"></th>
                    <th class="border-bottom border-0 text-center">Name</th>
                    <th class="border-bottom border-0 text-center">Department</th>
                    <th class="border-bottom border-0 text-center">Category</th>
                    <th class="border-bottom border-0 text-center">Sub&nbsp;Category</th>
                    <th class="border-bottom border-0 text-center">Kind</th>
                    <th class="border-bottom border-0 text-center">Measurment</th>
                    <th class="border-bottom border-0 text-center">Critical&nbsp;Number</th>
                    <th class="border-bottom border-0"></th>
                </tr>
            </thead>
            <tbody>{% if products %}{% for product in products %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ product.name|capfirst }}</td>                    <td>{{ product.department }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.sub_category }}</td>
                    <td>{{ product.get_kind_display }}</td>
                    <td>{{ product.measurment }}</td>
                    <td>{{ product.critical_no }}</td>
                    <td class="text-center">
                        <div class="dropdown">
                          <button class="btn shadow-none" type="button" id="manageMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-gears fs-4"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark manageMenu" aria-labelledby="manageMenu">
                            {% if perms.inventory.view_specification %}
                            <li><a class="dropdown-item py-2" href="{% url 'inventory:product_specifications_list' product.department.short_name product.slug %}"><i class="fa-solid fa-list me-2"></i>Specifications</a></li>
                            {% endif %}
                            {% if perms.inventory.change_product %}
                            <li><a class="dropdown-item py-2" href="{% url 'inventory:update_product' product.department.short_name product.slug %}"><i class="fa-solid fa-pen me-2"></i>Update</a></li>{% endif %} {% if perms.inventory.delete_product %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item text-danger fw-bolder" data-bs-toggle="modal" data-bs-target="#delete-product-{{ product.slug }}"><i class="fa-solid fa-circle-minus me-2"></i>Delete</button></li>{% endif %}
                          </ul>
                        </div>
                        {% if perms.inventory.delete_product %}
                        <div class="modal fade" id="delete-product-{{ product.slug }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                               Do you really wants to delete <strong>{{product.name }}</strong>? This action is irreversable.
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary shadow-none" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                <form action="{% url 'inventory:delete_product' product.department.short_name product.slug %}" method="post">{% csrf_token %}
                                  <input class="btn btn-danger btn-sm shadow-none" type="submit" value="I understand, delete!" />
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>{% endif %}
                    </td>
                </tr>
                {% endfor %}{% endif %}</tbody>
        </table>
    </div>
</div>
{% endblock content %}
