{% extends 'layouts/main.html' %}{% load i18n  %}{% block content %}

<div class="row" id="UserDetailContent">
  <div class="col-10">

      {% include "maintenace/request_log.html" with maintenace=request update_link="maintenace:update_maintenance_request" %}
    </div>
  
   
    {% comment %} <div class="tab-pane fade" id="hisotry" role="tabpanel" aria-labelledby="contact-tab">
        {% include "request/request_history.html" with request_history=request_history %}
    </div> {% endcomment %}
</div>{% endblock content %}