{% load i18n auser %}
<table class="table shadow-lg w-100" id="dt_table_education_background">
    <div class="d-flex justify-content-end">
      <a href="{% url "auser:instructor_education_background_add" instructor_pk %}" class="mx-2 btn btn-sm btn-success shadow-none"><i data-feather="plus"></i> {% translate "Add education background" %}</a>
    </div>
    <hr>
     <thead>
       <th></th>
       <th>{% translate "Degree level" %}</th>
        <th>{% translate "Major" %}</th>
        <th>{% translate "Institution name" %}</th>
        <th>{% translate "Institution location" %}</th>
        <th>{% translate "Start year" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Description" %}</th>
        <th>{% translate "Manage" %}</th>
     </thead>
      <tbody>
        {% for education_background in education_backgrounds %}
        <tr>
          <td class="details-control px-3"></td>
          <td>{{ education_background.degree_level }}</td>
          <td>{{ education_background.major }}</td>
          <td>{{ education_background.institution_name }}</td>
          <td>{{ education_background.institution_location }}</td>
          <td>{{ education_background.start_year }}</td>
          <td>{% if education_background.completed %}Graduated {% else %} Studying {% endif %}</td>
          <td>{{ education_background.description }}</td>
          <td>
            <a href="{% url 'auser:instructor_education_background_update' education_background.pk %}" class="btn btn-sm btn-primary">{% translate "Update" %}</a>
            {% if perms.auser.delete_socialmedia %}<button class="btn btn-sm btn-danger shadow-none" data-bs-toggle="modal" data-bs-target="#delete-{{ education_background.pk }}">{% translate "Delete" %}</button>{% endif %}
          </td>
          {% if perms.auser.delete_socialmedia %}
            <div class="modal fade" id="delete-{{ education_background.pk }}" tabindex="-1" aria-labelledby="Delete Social Media" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-body">
                    {% blocktranslate with degree_level=education_background.degree_level major=education_background.major  %}Do you really wants to delete <strong>{{ degree_level }} {{ major }}?</strong><span class="text-danger"> <h6>This action is irreversable.</span>{% endblocktranslate %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success shadow-none" data-bs-dismiss="modal" aria-label="Close">{% translate "Cancel" %}</button>
                    <form action={% url 'auser:instructor_education_background_delete' education_background.pk %} method="post">{% csrf_token %}
                        <input class="btn btn-danger btn-sm shadow-none" type="submit" value="{% translate "I understand, delete this user!" %}" />
                    </form>
                </div>
                </div>
            </div>
            </div>
            {% endif %}
        </tr>
        {% endfor %}
   </table>