{% extends "layouts/main.html" %} {% block content %}
<div class="row">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3">
        {% if perms.store.add_shelf %}<a href="{% url 'store:add_shelf' view.kwargs.store_pk %}" class="btn btn-md btn-success rounded-3 shadow-none float-end"><i class="fa-solid fa-circle-plus me-2"></i>Add Shelf</a>{% endif %}
    </div>
    <hr />
    <div class="container-fluid p-1 p-sm-3">
        <table id="shelf_list" class="table w-100 rounded-3">
            <thead>
                <tr>
                    <th class="border-bottom border-0" style="max-width: 25px;"></th>
                    <th class="border-bottom border-0">ID</th>
                    <th class="border-bottom border-0">Store</th>
                    <th class="border-bottom border-0">No Row(s)</th>
                    <th class="border-bottom border-0">No Columns(s)</th>
                    <th class="border-bottom border-0">Status</th>
                    <th class="border-bottom border-0"></th>
                </tr>
            </thead>
            <tbody>{% if shelves %}{% for shelf in shelves %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ shelf.shelf_id }}</td>
                    <td>{{ shelf.store }}</td>
                    <td>{{ shelf.no_row }}</td>
                    <td>{{ shelf.no_column }}</td>
                    <td>{{ shelf.get_status_display }}</td>
                    <td class="text-center">{% if perms.store.change_shelf %}
                        <a class="btn btn-sm btn-primary shadow-none px-2 mx-1" href="{% url 'store:update_shelf' shelf.pk %}"><i class="fa-solid fa-pen me-2"></i>Update</a>{% endif %} 
                        {% if perms.store.delete_shelf %}<button class="btn btn-sm btn-danger shadow-none px-2 mx-1" data-bs-toggle="modal" data-bs-target="#delete-shelf-{{ shelf.pk }}"><i class="fa-solid fa-circle-minus me-2"></i>Delete</button>
                        <div class="modal fade" id="delete-shelf-{{ shelf.pk }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                               Do you really wants to delete <strong>{{ shelf }}</strong>? This action is irreversable.
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary shadow-none" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                <form action="{% url 'store:delete_shelf' shelf.pk %}" method="post">{% csrf_token %}
                                  <input class="btn btn-danger btn-sm shadow-none" type="submit" value="I understand, delete!" />
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>{% endif %}
                    </td>
                </tr>
                {% endfor %}{% endif %}</tbody>
        </table>
    </div>
</div>
{% endblock content %}