{% extends "layouts/main.html" %}{% load static %}{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
    {% if perms.core.can_list_completed_borrow_request %}<li class="breadcrumb-item"><a href="{% url 'core:completed_borrow_requests_list' %}">Completed Borrow Requests List</a></li>{% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock breadcrumbs %}{% block content %}
<div class="container pt-4">
  <div class="row py-4">
      <div class="col-12 col-sm-4 d-flex justify-content-center align-item-center">
          <img src="{{ borrow_request.user.profile_picture.url }}" class="img-fluid border-0" style="width: 12rem; height: 12rem; object-fit: cover; border-radius: 5px;">
      </div>
      <div class="col-12 col-sm-4 offset-2">{% with user=borrow_request.user %}
          <table class="table responsive table-bordered table-secondary table-striped">
              <tbody>
                  <tr>
                      <td>First name</td>
                      <td>{{ user.first_name }}</td>
                  </tr>
                  <tr>
                      <td>Last name</td>
                      <td>{{ user.last_name }}</td>
                  </tr>
                  <tr>
                      <td>Staff ID</td>
                      <td>{{ user.staff_id }}</td>
                  </tr>
                  <tr>
                      <td>Department</td>
                      <td>{{ user.department }}</td>
                  </tr>
              </tbody>
          </table>{% endwith %}
      </div>
  </div>
  <h4 class="fw-bold my-4">Requested Product</h4>
  <div>
      <table class="table responsive table-bordered table-secondary table-striped">{% with product=borrow_request.product %}
          <tbody>
              <tr>
                  <td>Name</td>
                  <td>{{ product.name }}</td>
              </tr>
              <tr>
                  <td>Category</td>
                  <td>{{ product.category }}</td>
              </tr>
              <tr>
                  <td>Sub Category</td>
                  <td>{{ product.sub_category }}</td>
              </tr>
              <tr>
                  <td>Kind</td>
                  <td>{{ product.get_kind_display }}</td>
              </tr>
              <tr>
                  <td>Department</td>
                  <td>{{ product.department }}</td>
              </tr>
          </tbody>
          {% endwith %}
      </table>
      <h4 class="fw-bold my-4">Requested Summary</h4>
      <table class="table responsive table-bordered table-secondary table-striped">{% with borrow_request=borrow_request %}
          <tbody>
              <tr>
                  <td>Quantity</td>
                  <td>{{ borrow_request.quantity }}</td>
              </tr>
              <tr>
                  <td>Start date</td>
                  <td>{{ borrow_request.start_date|date:"d M, Y" }}</td>
              </tr>
              <tr>
                  <td>End date</td>
                  <td>{{ borrow_request.end_date|date:"d M, Y" }}</td>
              </tr>
          </tbody>
          {% endwith %}
      </table>
  </div>{% if perms.core.can_return_borrow_request %}
  <div class="row">
      <div class="col-12 p-5">
          <div class="btn-group float-end" role="group" aria-label="manageMenu">
            <button type="button" class="btn btn-success shadow-none mx-1" data-bs-toggle="modal" data-bs-target="#return-borrow-request"><i class="fa-solid fa-check-circle me-2" ></i>Returned</button>
          </div>
      </div>
  </div>
  <div class="modal fade" id="return-borrow-request" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="text-danger fw-bolder"><i class="fa-solid fa-triangle-exclamation me-2"></i>This action is irreversable.</span>
        </div>
        <div class="modal-body">
         Do you confirm that you recieved <strong>{{ borrow_request.quantity }} {{ borrow_request.product.measurment }} of {{ borrow_request.product }} {{ borrow_request.product.sub_category }}</strong> from <strong>{{ borrow_request.user.get_full_name }} ({{ borrow_request.user.staff_id }})</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-secondary shadow-none" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark me-2"></i>Cancel</button>
          <form action="{% url 'core:return_borrow_request' borrow_request.pk %}" method="post">{% csrf_token %}
             <button class="btn btn-sm btn-outline-success shadow-none mx-1" type="submit"><i class="fa-solid fa-check-circle me-2"></i>Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>{% endif %}
</div>{% endblock content %}
