:root {
    --main-color: rgb(255, 255, 255);
    --main-color-dark: #0e063a;
    --main-grey: rgba(111, 111, 111, 0.99);
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url('../font/RobotoCondensed-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    /*background-color: rgba(120, 120, 120, 0) !important;*/
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    height: 4rem;
}

.logo-img {
    width: 90px;
}

.profile-img {
    width: 50px;
    background-color: #fff;
}

form.search input {
    border-radius: 2.8125rem;
    height: 3.125rem;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position-x: 1.2rem;
    background-position-y: center;
}

form.search input::placeholder {
    font-size: 1.125rem;
    font-weight: lighter;
}

svg,
.img-sidebar {
    width: 20px;
}

#sidebar .nav-item {
    background: rgba(120, 120, 120, 0.1);
    color: #222 !important;
    border-left: 5px solid lightgreen;
}

#sidebar {
    position: sticky;
    height: 100vh;
    margin-top: -4rem;
    background-color: #fff;
    border-right: 1px solid #dcdcdc;
}

.sidebar-nav {
    width: 250px;
}

.collapsing.collapse-horizontal {
    overflow: hidden;
    transition: 0.75s ease-in-out;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
    cursor: pointer;
}

a,
a:active,
a:focus {
    color: #616161;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.text-secondary,
.text-secondary-hover:hover {
    color: #59b73f !important;
}

.display-25 {
    font-size: 1.4rem;
}

.text-primary,
.text-primary-hover:hover {
    color: lightgreen !important;
}

p {
    margin: 0 0 20px;
}

.mb-1-6,
.my-1-6 {
    margin-bottom: 1.6rem;
}