{% extends "layouts/main.html" %}{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
    {% if perms.inventory.add_store %}<li class="breadcrumb-item"><a href="{% url 'inventory:stores_list' %}">Stores List</a></li>{% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock breadcrumbs %}{% block content %}
<div class="row">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3">
        {% if perms.inventory.add_shelf %}<a href="{% url 'inventory:add_shelf' view.kwargs.pk %}" class="btn btn-md btn-success rounded-3 shadow-none float-end"><i class="fa-solid fa-circle-plus me-2"></i>Add Shelf</a>{% endif %}
    </div>
    <hr />
    <div class="container-fluid p-1 p-sm-3">
        <table id="shelf_list" class="table w-100 rounded-3">
            <thead>
                <tr>
                    <th class="border-bottom border-0" style="max-width: 25px;"></th>
                    <th class="border-bottom border-0">ID</th>
                    <th class="border-bottom border-0">Store</th>
                    <th class="border-bottom border-0">No Row(s)</th>
                    <th class="border-bottom border-0">No Columns(s)</th>
                    <th class="border-bottom border-0">Status</th>
                    <th class="border-bottom border-0"></th>
                </tr>
            </thead>
            <tbody>{% if shelves %}{% for shelf in shelves %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ shelf.shelf_id }}</td>
                    <td>{{ shelf.store }}</td>
                    <td>{{ shelf.no_row }}</td>
                    <td>{{ shelf.no_column }}</td>
                    <td>{{ shelf.get_status_display }}</td>
                    <td class="text-center">
                        <div class="dropdown">
                          <button class="btn shadow-none" type="button" id="manageMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-gears fs-4"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark manageMenu" aria-labelledby="manageMenu">
                            {% if perms.inventory.change_shelf %}
                            <li><a class="dropdown-item py-2" href="{% url 'inventory:update_shelf' view.kwargs.pk shelf.shelf_id %}"><i class="fa-solid fa-pen me-2"></i>Update</a></li>{% endif %} {% if perms.inventory.delete_shelf %}
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item text-danger fw-bolder" data-bs-toggle="modal" data-bs-target="#delete-shelf-{{ shelf.pk }}"><i class="fa-solid fa-circle-minus me-2"></i>Delete</button></li>{% endif %}
                          </ul>
                        </div>

                        
                        {% if perms.inventory.delete_shelf %}
                        <div class="modal fade" id="delete-shelf-{{ shelf.pk }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                               Do you really wants to delete <strong>{{ shelf }}</strong>? This action is irreversable.
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-primary shadow-none" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                <form action="{% url 'inventory:delete_shelf' view.kwargs.pk shelf.shelf_id  %}" method="post">{% csrf_token %}
                                  <input class="btn btn-danger btn-sm shadow-none" type="submit" value="I understand, delete!" />
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>{% endif %}
                    </td>
                </tr>
                {% endfor %}{% endif %}</tbody>
        </table>
    </div>
</div>
{% endblock content %}
