{% extends "layouts/main.html" %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>
{% endblock breadcrumbs %}{% block content %}
<div class="row">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3 d-flex justify-content-end">
        {% if perms.auser.can_add_staff_member %}<a href="{% url 'auser:all_add_staff_member' %}" class="btn btn-md btn-success rounded-3 shadow-none me-3">
          <i class="fa-solid fa-circle-plus me-2"></i>Add Staff Member</a>{% endif %}</div>
    <hr />
    <div class="container-fluid p-sm-3">
        <table id="staff_members_list" class="table responsive">
            <thead>
                <th class="border-bottom border-0">No</th>
                <th class="border-bottom border-0">First name</th>
                <th class="border-bottom border-0">Last name</th>
                <th class="border-bottom border-0">Staff ID</th>
                <th class="border-bottom border-0">Department</th>
                <th class="border-bottom border-0">Email</th>
                <th class="border-bottom border-0">Phone number</th>
                <th class="border-bottom border-0">Sex</th>
                <th class="border-bottom border-0">Status</th>
                <th class="border-bottom border-0">Actions</th>
            </thead>
            <tbody>{% if staff_members %}{% for staff_member in staff_members %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                    <td>{% if perms.auser.can_view_detail_staff_member %}
                      <a  class="nav-link" href="{% url 'auser:detail_staff_member' staff_member.department.short_name staff_member.pk %}">
                        {{ staff_member.first_name|default:"-" }}
                      </a>{% endif %}
                    </td>
                    <td>{{ staff_member.last_name|default:"-" }}</td>
                    <td>
                      {% if perms.auser.can_view_detail_staff_member %}
                      <a  class="nav-link" href="{% url 'auser:detail_staff_member' staff_member.department.short_name staff_member.pk %}">
                        {{ staff_member.staff_id }}
                      </a>{% endif %}
                    </td>
                    <td>{{ staff_member.department }}</td>
                    <td>{{ staff_member.email }}</td>
                    <td>{{ staff_member.phone_number }}</td>
                    <td>{{ staff_member.get_sex_display }}</td>
                    <td><span class="badge bg-{% if staff_member.is_active %}success{% else %}danger{% endif %} w-100">{% if staff_member.is_active %}Active{% else %}Deactivated{% endif %}</span></td>
                    <td>

                        <div class="dropdown">
                          <button class="btn shadow-none" type="button" id="manageMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-gears fs-4"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-dark manageMenu" aria-labelledby="manageMenu">
                            {% if perms.auser.can_view_detail_staff_member %}
                            <li><a class="dropdown-item py-2" href="{% url 'auser:detail_staff_member' staff_member.department.short_name staff_member.pk %}">
                              <i class="fa fa-info-circle me-3"></i>Detail</a></li>{% endif %}{% if perms.auser.can_change_staff_member %}
                            <li><a class="dropdown-item py-2" href="{% url 'auser:all_change_staff_member' staff_member.department.short_name staff_member.pk %}">
                              <i class="fa-solid fa-pen me-3"></i>Update</a></li>{% endif %}
                              {% if perms.auser.can_deactivate_staff_member and staff_member.is_active %}
                            <li><button class="dropdown-item py-2 text-warning" data-bs-toggle="modal" data-bs-target="#change-status-{{ staff_member.staff_id|slugify }}">
                              <i class="fa-solid fa-toggle-off me-3"></i>Deactivate</button></li>{% elif perms.auser.can_activate_staff_member and not staff_member.is_active %}
                            <li><button class="dropdown-item py-2 text-success" data-bs-toggle="modal" data-bs-target="#change-status-{{ staff_member.staff_id|slugify }}">
                              <i class="fa-solid fa-toggle-on me-3"></i>Activate</button></li>
                            {% endif %}{% if perms.auser.can_delete_staff_member %}
                            <li><hr class="dropdown-divider"></li>
                            {% if perms.auser.can_delete_staff_member %}
                            <li><button class="dropdown-item text-danger py-2 fw-bolder" data-bs-toggle="modal" data-bs-target="#delete-{{ staff_member.staff_id|slugify }}">
                              <i class="fa-solid fa-trash-can me-3"></i>Delete</button></li>
                            {% endif %}{% endif %}
                          </ul>
                        </div>
                    </td>
                </tr>
                {% if perms.auser.can_delete_staff_member %}<div class="modal fade" id="delete-{{ staff_member.staff_id|slugify }}" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="text-danger fw-bolder"><i class="fa-solid fa-triangle-exclamation me-2"></i> This action is irreversable.</span>
                      </div>
                      <div class="modal-body">
                       Do you really wants to delete <strong>{{ staff_member.staff_id }}</strong>?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary shadow-none" data-bs-dismiss="modal" aria-label="Close">
                          <i class="fa-solid fa-xmark me-2"></i>Cancel</button>
                        <form action="{% url 'auser:all_delete_staff_member' staff_member.department.short_name staff_member.pk %}" method="post">{% csrf_token %}
                           <button class="btn btn-outline-danger btn-sm shadow-none" type="submit"><i class="fa-solid fa-trash-can me-2"></i>I understand, delete!</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>{% endif %}{% if perms.auser.can_activate_staff_member or perms.auser.can_deactivate_staff_member %}<div class="modal fade" id="change-status-{{ staff_member.staff_id|slugify }}" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                       Do you really wants to {% if staff_member.is_active %}deactivate{% else %}activate{% endif %} <strong>{{ staff_member.staff_id|slugify }}</strong>?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary shadow-none" data-bs-dismiss="modal" aria-label="Close">
                          <i class="fa-solid fa-xmark me-2"></i>Cancel</button>
                        <form action="{% if staff_member.is_active %} {% url 'auser:all_deactivate_staff_member' staff_member.department.short_name staff_member.pk %}{% else %}{% url 'auser:all_activate_staff_member' staff_member.department.short_name staff_member.pk %}{% endif %}" method="post">{% csrf_token %}
                           <button class="btn btn-outline-{% if staff_member.is_active %}warning{% else %}success{% endif %} btn-sm shadow-none" type="submit">
                            <i class="fa-solid fa-check-circle me-2"></i>Confirm</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>{% endif %}
                {% endfor %}{% endif %}</tbody>
        </table>
    </div>
</div>
{% endblock content %}
