 {% extends "layouts/main.html" %} {% load i18n static humanize auser %} {% block content %}
<div class="row">

    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3 d-flex justify-content-end">
        {% if perms.request.can_view_complete_request %}
        <a href="{% url 'request:borrowed_list' %}" class="btn btn-md 
        btn-success rounded-3 shadow-none">
            <i class="fa-solid fa-chevron-right p-2"></i>Borrowed Item Lists</a>{% endif %}
    </div>
    <hr />
    <div class="container-fluid p-sm-3">
        <table class="table shadow-lg w-100" id="dt_table_returned_item">
            <thead>
                <tr>
                    <th>{% translate "hol" %}</th>
                    <th>{% translate "item" %}</th>
                    <th>{% translate "quantity" %}</th>
                    <th>{% translate "start date" %}</th>
                    <th>{% translate "end date" %}</th>
                    <th>{% translate "category" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="w-100">
                {% for request in requests %}
                <tr>

                    <td class="details-control px-3"></td>
                    <td>{{ request.item }}</td>
                    <td>{{ request.quantity }}</td>
                    <td>{{ request.start_date }}</td>
                    <td>{{ request.end_date }}</td>
                    <td>{{ request.category }}</td>

                </tr>{% endfor %}
            </tbody>
        </table>
    </div>>
</div>{% endblock content %}