 {% extends "layouts/main.html" %} {% load i18n static humanize auser %} {% block content %}
<div class="row">
    <div class="offset-md-6 offset-lg-7 col-12 col-md-6 col-lg-5 my-3 d-flex justify-content-end">
        {% if perms.request.can_view_complete_request %}
        <a href="{% url 'request:returned_list' %}" class="btn btn-md 
        btn-success rounded-3 shadow-none">
            <i class="fa-solid fa-chevron-right p-2"></i>Returned Item Lists</a>{% endif %}
    </div>
    <hr />
    <div class="container-fluid p-sm-3">
        <table class="table shadow-lg w-100" id="dt_table_borrowed_item_list">

            <thead>
                <tr>
                    <th>{% translate "No" %}</th>
                    <th>{% translate "item" %}</th>
                    <th>{% translate "quantity" %}</th>
                    <th>{% translate "duration" %}</th>
                    <th>{% translate "category" %}</th>
                    <th>{% translate "borrowed" %}</th>
                    <th>status2</th>

                    <th></th>
                </tr>
            </thead>
            <tbody class="w-100">{% if requests %} {% for request in requests %}
                <tr>

                    <td>{{ forloop.counter }}</td>
                    <td>{{ request.item }}</td>
                    <td>{{ request.quantity }}</td>
                    <!-- TODO: duraction is not working check this -->
                    <td>{{ request.duration }}calculate duration and save it to model</td>
                    <td>{{ request.category }}</td>
                    <td>{{ request.is_given }}</td>
                    <td>
                        <div class="btn-group rounded " role="group " aria-label="Management buttons ">
                            <a href="{% url 'request:borrow_detail' request.pk %} " class="btn btn-md 
                            btn-outline-dark shadow-none ">{% translate "Details " %}</a> </td>

                </tr>{% endfor %}{% endif %}
            </tbody>
        </table>
        </div>
    </div>
    {% endblock content %}